Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
build/
/.vs
/out/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/id1/
/ironwail
/ironwail-vr
